{
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
        "browsers": ["last 2 versions", "not IE 10", "not ExplorerMobile 10", "not ExplorerMobile 11"]
      },
      "modules": false
    }],
    "stage-2"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
