{
  "extends": "rally",

  "env": {
    "node": true
  },

  "globals": {
    "document": true,
    "Event": true,
    "Promise": true,
    "XMLHttpRequest": true,
    "afterEach": true,
    "beforeEach": true,
    "expect": true,
    "fit": true,
    "it": true,
    "jasmine": true,
    "xit": true,
    "sinon": true,
    "window": true
  }
}
