*.dmg
*.exe
*.gz
*.ids
*.iml
*.ipr
*.iws
*.jar
*.log
*.log*.tmp
*.log.*.gz
*.out
*.sublime-workspace
*.swp
*.tar
*.tmp
*.tgz
*.zip
*~
.DS_Store
.bundle
.classpath
.idea
.metadata
.project
.rakeTasks
.redcar
.settings
.tmp*
.vscode
classes
dist
lib
out
projectFilesBackup
target
spec/javascripts/
node_modules/
_SpecRunner.html
bundle.js
test/rallymetrics-test*
doc/
corsSandbox/cert.pem
corsSandbox/key.pem
webpack-stats.json
