#HTMLReporter {
    font-size: 10px;
    line-height: 10px;
}

#HTMLReporter .symbolSummary {
    margin: 5px 0;
}

#HTMLReporter .symbolSummary li {
    font-size: 4px;
    width: 3px;
    margin-bottom: 0;
}

#HTMLReporter .symbolSummary li.passed, #HTMLReporter .symbolSummary li.skipped {
    font-size: 4px;
}

#HTMLReporter .banner {
    margin-top: 0;
    font-size: 8px;
    line-height: 8px;
}

#HTMLReporter .bar, #HTMLReporter .exceptions .label {
    line-height: 12px;
    font-size: 10px;
}

#HTMLReporter .exceptions {
    margin-top: 0;
}
